<tr>
  <div class="card">
    <td><%= dish.name %></td>
    <td><%= dish.category.name %></td>
    <td><%= dish.money %>$</td>  
    <td class="button"><%= button_to "Buy" %></td>
    <td class="button"><%= button_to "Cart" %></td>
    <td class="button"><%= button_to "Comment" %></td>
  </div>
</tr>
