<div class="Search" style="">

<%= form_tag dishes_path, method: :get do %>
   <tr> 
   <td>
   <%= text_field_tag :name, params[:name] %> 
   </td>
   <td> <%= select_tag :sort_by_created_at, options_for_select([['Decrease','ASC'],['Increase','DESC']])%> </td>
    <%= submit_tag 'Search' %>  
    </tr>
  <%end%>     
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Img</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <%= render @dishes %>
  </tbody>
</table>
