<% provide(:title, 'New Table') %>
<h1>Create table</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for [:admin, @table] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :status %>
<%= f.text_field :status %>
<%= f.label :person %>
<%= f.number_field :person %>
<%= f.submit "Create category", class: "btn btn-primary" %>
<% end %>
</div>
</div>
