<% provide(:title, 'New Menu') %>
<h1>Create menu</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="form-group">
			<%= form_for [:admin, @menu] do |f| %>
				<%= f.label :name %>
				<%= f.text_field :name %>
				<%= f.label :dish_id %>
				<%= f.select :dish_ids, options_for_select(@dishes.map{|key, value|
					[key, value]}), {include_blank: true}, {class: "chosen-select", multiple: "true"} %>
				<%= f.submit "Create menu", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
