<!DOCTYPE html>
<html>
  <head>
    <title>Pr2001_nill</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= Gon::Base.render_data %>
  </head>
  <body>
   <div class="main_menu">
  <%= render 'layouts/header' %>
    <%= yield %>
  </div>

  <div class="footer-area">
  <%= render 'layouts/footer' %>
    </div>
</body>
</html>
