<% provide(:title, 'All menus') %>
<h1>All Menus</h1>
<%= will_paginate %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Money</th>
  </tr>
  <% @dishes.each do |dish| %>
    <tr>
      <td><%= dish.name %></td>
      <td><%= dish.money %></td>
    </tr>
  <% end %>
</table>
 
<%= will_paginate %>
<%= link_to 'Create a new Dish', new_admin_category_dish_path(@category),class: "btn btn-primary" %> | 
<%= link_to 'Back', admin_categories_path , class: "btn btn-primary" %>